* {
  box-sizing: border-box;
  
}

.countries-list {
  display:flex;
  align-items: center;
  flex-wrap:wrap;
  gap:24px;
  justify-content: center;
  
  
  
}

.country {
  width:32%;
  display: flex-box;
  margin-left: 0.1rem;
  border-style: dashed;
  border-width: 0.1rem;
  border-color: blue;
  
  
}